extends layout

block content
  h2 Rooms
  include menu-bar.jade
  - var keys = Object.keys(sortedRooms);
  - for( var x = 0; x < keys.length; x++){
    - var key = keys[x]
    - var rooms = sortedRooms[key]
    div(class="area-title")= keys[x]
    div(class="rooms-list")
      - for(var i = 0; i < rooms.length; i++) {
        div(class='room')
          button(class="action-delete-room float-right", data-id=rooms[i]._id.toString()) Delete
          a(href='/rooms/' +rooms[i]._id, class='plain-link')
            span(class='room-title')= rooms[i].title || "Undefined Title "
          div(class='room-content')= rooms[i].content
          
          if rooms[i].items.length > 0
            |Items: 
            for item in rooms[i].items
              span(class="item")= item+ ", "
            br
          if rooms[i].exits.length < 1
            span(class='item') No Exits
      - }
  - };
