extends layout

block content
  script(src='/javascripts/new-room-form.js')
  h2
    a(href='/rooms', class="plain-link")= "Rooms - "
    =room ? "Edit " + room.title : "New Room"
  if room
    a(href='/rooms/' + room._id + '/json') View Json ->
  br
  br
  form(id="room-editor")
    if room
      div(class='field')
        span(class='label') ID
        span(name="id",room-id=room._id)=room._id
    div(class='field')
      span(class='label') Title
      input(name='title', value= room ? room.title : 'Default Room')
    div(class='field')
      span(class='label') Area
      select(id="area-selector")
        - for(var i = 0; i < areas.length; i++) {
          - if (room && room.area == areas[i]) {
            option(selected)= areas[i]
          - } else {
            option= areas[i]
          - }
        - }
        input(name='area', value= room ? room.area : 'midgard')

    div(class='field')
      span(class='label') Content
      textarea(name='content')= room ? room.content : 'A blank room'
    br
    div(class='field')
      span(class='label') Items
      input(name='items',value= room ? room.items.join(', ') : '')
    br
    h3 Exits
      button(class='add-exit') Add
    div(id='exits-list')
      if room
        for exit in room.exits  
          +exitObject(exit)
    span(class='check-option')
      input(id='light-box', name='light', type='checkbox', checked=room ? room.light : false)
      label(for='light-box') Light
    span(class='check-option')
      input(id='outside-box', name='outside', type='checkbox', checked=room ? room.outside : false)
      label(for='outside-box') Outside

  br
  br
  div(class='error hidden')
  div(class='button-wrangler')
    unless room
      button(id="post-room") Create
    else
      button(class="action-delete-room", data-id=room._id.toString()) Delete
      button(id="update-room") update 
  div(class='modal-cover')
  div(class='modal')
    div(class='modal-content')
      h2 Link to room
      input(name='room-filter')
      div(id='suggestions')
      br
      br
  //- hidden dom element, so jquery can copy it to make more exits
  div(id='exit-object-template')
    +exitObject()
    
  div(id='room-suggestion-template')  
    div(class='room-suggestion')
      div(class='room-suggestion-title')
      div(class='room-suggestion-content')
      div(class='room-suggestion-id hidden')

    
  mixin exitObject(exit)
    div(class='exit-object')
      div(class='exit-left')
        div(class='field')
          span(class='label') Command
          input(name='exit-cmd', class='exit-name', value= exit ? exit.cmd : '')
        div(class='field')
          span(class='label') Room
          input(name='exit-display', class='exit-name', value= exit ? exit.room.title : '')          
          input(name='exit-room', class='exit-name hidden', value= exit ? exit.room._id : '')
      div(class='exit-right')
        button(class='remove-exit') Remove
      div(class='clear')
    
